@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 62.5%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  flex-direction: column;
}

.ml_sm {
  margin-left: 1rem;
}

.inline_block {
  display: inline-block;
}

.textarea_shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.textarea_shadow:focus {
  outline: none;
}

.header_placeholder::placeholder {
  font-size: 3rem;
}
